footer {
  flex-shrink: 0;
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

footer p {
  padding: 0 20px;
  font-size: 1rem;
}

footer a:hover {
  color: #1e1b14;
  text-decoration: underline;
}
