.container {
  padding: 20px;
}
.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #dfd6c2 6px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  margin: 50px 20px;
  height: 300px;
}

label {
  display: flex;
}

form input {
  background-color: white;
  border: solid #dfd6c2 3px;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
}

.form-error {
  display: none;
  color: red;
}

.message {
  color: red;
}

button {
  max-width: 300px;
  width: 100%;
  margin-top: 10px;
  padding: 15px 50px;
  background-color: #dfd6c2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
