.my-page {
  display: flex;
  padding: 50px 20px;
  margin-top: 50px;
}

.latest-section {
  max-width: 300px;
  width: 100%;
}

.my-page .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  cursor: pointer;
}

.dropdown {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
}

span {
  background-color: rgb(255, 251, 241);
  padding: 10px;
}

.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  padding: 10px 0;
  z-index: 1;
  margin-top: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 898px) {
  span {
    padding: 10px 5px;
  }
  .dropdown {
    position: unset;
    display: block;
  }
  .dropdown-content {
    display: block;
    position: unset;
    background-color: rgb(255, 251, 241);
    width: 139px;
    box-shadow: 0 0 0;
    padding: 30px 0;
    z-index: 1;
  }
}
