#hamburger-menu,
.label-for-menu {
  display: none;
}

nav,
ul {
  display: flex;
  align-items: center;
}

nav {
  padding: 0 20px;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  padding: 0 5px;
}

.active {
  padding: 20px 5px;
  background-color: rgb(255, 251, 241);
}

.header-img {
  background-image: linear-gradient(
      rgba(139, 139, 139, 0.5),
      rgba(139, 139, 139, 0.5)
    ),
    url(../images/gathering-area.jpg);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  height: 800px;
  transition: all 1s;
}

@media only screen and (max-width: 898px) {
  nav {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0;
    position: absolute;
  }
  ul {
    padding-inline-start: 0;
    display: none;
  }

  #hamburger-menu {
    display: none;
  }

  ul {
    padding-left: 10px;
  }

  .unfolded-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .label-for-menu {
    padding: 5px 20px;
  }
  .label-for-menu,
  #hamburger-menu:checked ~ ul {
    display: block;
  }

  .header-img {
    background-attachment: initial;
  }
}
